body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: #282b40;
    background-color: #f1f2ec;
  }

  h1 { font-family: 'Prata', serif;

  }

  h2 { font-family: 'Prata', serif;

  }

  h3 { font-family: 'Prata', serif;
    font-size: 22px;
    color: #282b40;
   

  }

  h4 { font-family: 'Roboto', sans-serif;

  }

  h5 { font-family: 'Roboto', sans-serif;
    font-size: 18px;
   font-weight: 300;

  }

  h6 { font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 300;

  }

  p {
    font-family: 'Roboto', sans-serif;
    color: #282b40;
  }

  a {
      font-family: 'Roboto', sans-serif; 

  }

  
  .topnav {
    overflow: hidden;
    margin-left: 30px;
    
  }
  
  .topnav a {
    float: left;
    display: block;
    color: #282b40;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
  
    color: #282b40;
  }
  
  .active {
    background-color: #3c989b;
    color: white;
  }
  
  .topnav .icon {
    display: none;
  }
  
  @media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }
   
#logo {
    position: relative;
    display: block;
    margin: auto;
}

* {
    box-sizing: border-box;
  }
  
  /* Style inputs */
  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    color: #282b40;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    font-family: 'Roboto', sans-serif; 
  }
  
  input[type=submit] {
    background-color: #282b40;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    font-family: 'Roboto', sans-serif; 
  }
  
  input[type=submit]:hover {
    background-color: #3c989b;
  }
  
  /* Style the container/contact section */
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px;
  }
  
  /* Create two columns that float next to eachother */
  .column {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }

  iframe {
      width: 100%;
  }

  figcaption {
      margin-top: 50px;
      text-align: center;
  }
  



footer {
    margin-top: 200px;
    background-color: #3c989b; 
    text-align: center;
    color: #282b40;
    padding: 5px 10px 10px 10px;
}
