body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: #282b40;
  background-color: #f1f2ec;
}

h1 { font-family: 'Prata', serif;

}

h2 { font-family: 'Prata', serif;
  display: block;
  text-align: center;
  margin-top: 10px;
  padding-top:  60px;
  color: #3c989b;
  

}

h3 { font-family: 'Prata', serif;
  font-size: 22px;
  color: #282b40;
 


}

h4 { font-family: 'Roboto', sans-serif;

}

h5 { font-family: 'Roboto', sans-serif;
  font-size: 18px;
 font-weight: 300;

}

h6 { font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 300;

}

p {
  font-family: 'Roboto', sans-serif;
  color: #282b40;
  display: block;
  width: 100%;
  text-align: center;

  
 
  
}

a {
    font-family: 'Roboto', sans-serif; 

}


.topnav {
  overflow: hidden;
  margin-left: 30px;
  
}

.topnav a {
  float: left;
  display: block;
  color: #282b40;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: 'Prata', serif;
}

.topnav a:hover {

  color: #282b40;
}

.active {
  background-color: #3c989b;
  color: white;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
  
   
#logo {
    position: relative;
    display: block;
    margin: auto;
   
    
}

main img {
  width: 65%;
  display: block;
  margin: auto;
  border-radius: 5px;
  
}

.information {
  padding: 10px;
  background-color: #cccccc;
  margin-left: 250px;
  margin-right: 250px;
  margin-top: 20px;
  border-radius: 5px;
}


@media screen and (max-width: 1000px) {
  .information {
    padding: 10px;
    background-color: #cccccc;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
    border-radius: 5px;
  }
  }





 footer {
    margin-top: 500px;
     background-color: #3c989b; 
     text-align: center;
     color: #282b40;
     padding: 5px 10px 10px 10px;
 }

 




