body {
    background-color: whitesmoke;
    width: 1000px;
    margin: auto;
}
/* header logo top*/
header {
    margin: 10px auto;
    background-color: #c4b69a;
    box-shadow: 0 0 30px #777;
    text-align: center;
}
header h1{
    font-family: "Anton",sans-serif;
    font-size: 40px;
    margin: 0px 0px 0px -130px;
    padding: 0px 0px 0px -130px;
    color: #143441;
    background-color: none;
    align-content: center;
    

}
header p{ font-family: "Thasadith",sans-serif;
    font-size: 20px;
    margin: 0px 0px 20px -130px;
    padding: 0px 0px 20px -130px;
    color: #143441

}
img, .headings {
   display: inline-block;
   vertical-align: middle;
}

header img {
    margin: 20px 0px 10px 50px;
    padding: 10px 0px 10px 30px;
}

/* top navigation menu */
nav ul {
list-style-type:none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: #143441;
text-align: center;
margin-top: -15px;
}
li {
    float: middle;
    display: inline;
    
}
li a {
    display: inline-block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
    background-color: #48788b;}
    

.link1 {
    color: goldenrod;
    text-decoration: none;
    font-family: "Thasadith", sans-serif;
    background-color: #143441;
}
.link2 {
    color: goldenrod;
    text-decoration: none;
    font-family: "Thasadith", sans-serif;
    background-color: #48788b;
    display: inline-block;
   
}

/* drop down menu style */

li a:hover, .dropdown:hover .dropbtn {
    background-color: #48788b;
}







/* weather update */
.weathertitle {
    font-size: 1em;
    margin-bottom: 10px;
    padding-bottom: 0px;
    text-align: center;
    text-decoration: underline;
    font-family: "Thasadith", sans-serif;
}
.weathersummary img {
    display: block;
    margin-left: auto;
    margin-right: auto;

    margin-top: 50px;
    margin-bottom: 50px;
   
    }
 #todaysforecast{
    margin-top: 0px;
    padding-top: 0px;
    list-style-type: none;
    text-decoration: none;
    font-family: "Thasadith", sans-serif;
    
}
.yellowtext {
    color: #ebb11a
}

.hidden img {
    width: 65%;
    height: auto;
    margin-left: 200px;
    margin-bottom: 50px;
}

@media only screen and (max-width: 750px) {
    .hidden {
    display: none;

      
    }
  }

  @media only screen and (min-width: 750px) {
    #smallmenu {
    display: none;

      
    }
  }

 section {
   position: absolute;
   top: 480px;
   left: 210px;
    background-color: rgba(13, 31, 33, 0.7);
    text-align: left;
    width: 250px;
    margin-bottom: 0px;
    font-size: 1.5em;
    box-shadow: 0 0 30px rgb(58, 57, 57);
    
}

section p {
    margin: 25px;
    color: white;
    font-size: 20px;
}







/* article */
article {
    background-color: #143441;
    margin: 0 80px 0px 80px;
}
article img {
    float:right;;
    width: 40%;
    height: auto;
    box-shadow: 0 0 30px #071318;
    margin: 120px 30px 60px 25px;
      
    
}
article p {
    color: white;
    padding: 0px 30px 10px 20px;
    margin: 0px 30px 30px 30px;
}
  .headlines {
    font-family: "Anton",sans-serif;
    font-size: 30px;
    padding: 20px;
    color: #143441;
   margin: 0px;
   background-color: #ebb11a;  
   text-align: center;
}
article h2 {
    font-family: "Thasadith", sans-serif;
    color: #ebb11a;
    margin: 0px 0px 0px 40px;
    padding: 10px 0px 0px 0px;
}
article p {
    font-family: "Quattrocento", serif;
    font-size: 16px;
    padding: 10px;
    text-align: left;
}

/*footer contact and map and copyright*/
 footer {
     margin: 0px 40px 0px 40px;
    text-align: center;
    background-color: #c4b69a;
    box-shadow: 0 0 30px #777;
}
footer img {
    width: 30%;
    height: auto;
    float: right;
    width: 50;
    height: auto;
    border-style: inset;
    border-color: #777;
    margin-right: 320px;
    

}

footer p {
    list-style-type:none;
    font-family: "Quattrocento", serif;
    font-size: 16px;
    text-align: center;
    
}


footer h2 {
    padding-top: 20px;
    text-align: center;
    font-family: "Thasadith", sans-serif;
    color: #143441;
}
 
 #contact-info {
    padding-bottom: 100px;
    font-family: "Quattrocento", serif;
    font-size: 16px;
    text-align: justify;
    margin-left: 60px;
}

   

}
#map {
    margin-right: 30px;
    
}
footer .copywrite {
    background-color: #ebb11a;
    padding: 30px 20px 50px 20px;
}