td {
    text-align: left;
    padding: 10px 30px 10px 30px;
  


 
    }

table {
    background-color: #35687c;
    margin-left: auto;
    margin-right: auto;
   width: 60%;
   padding-top: 20px;
   padding-bottom: 20px;
   border-radius: 7px;
   margin-top: 30px;
   margin-bottom: 30px;
   font-family: "Thasadith", sans-serif;
   color: white;
   box-shadow: 0 0 10px #0a161b;
   
  
}

.middle {
    text-align: center;
}